<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/themes/bootstrap-table/bootstrap-table.min.css">
    <title>Document</title>
</head>
<body>
    <input id="filter" type="text">
    <table class="table" data-toggle="table" data-sort-name="project_id" data-search="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="project_id">Project ID</th>
                <th data-sortable="true">Title</th>
                <th data-sortable="true">Description</th>
                <th data-sortable="true">Status</th>
                <th data-sortable="true">Owner</th>
                <th data-sortable="true">Submitted by</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% all_projects.each do |project| %>
                <tr>
                    <td> <%= project["project_id"] %> </td>
                    <td> <%= project["project_name"] %> </td>
                    <td> <%= project["project_description"] %> </td>
                    <td> <%= project["project_status"].capitalize %> </td>
                    <td> <%= project["project_owner"] %> </td>
                    <td> <%= project["submitted_by"] %> </td>
                    <td class="edit-icon"> <a class="fa fa-edit" href="/projects/<%= project["project_id"]%>/edit"></a> </td>
                    <td>
                        <form action="/projects/<%= project["project_id"] %>" method="post" class="delete-icon">    
                            <input type="hidden" name="_method" value="delete">
                            <button class="fa fa-trash"></button>
                        </form>
                    </td>
                    <td class="view-details-icon"> <a class="fa fa-arrow-circle-right" href="/projects/<%= project["project_id"] %>"></a> </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/themes/bootstrap-table/bootstrap-table.min.js"></script>
</body>
</html>
