<div class="issue-form">
    <form action="/issues/<%= issue["issue_id"] %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <h1 class="form-heading">Edit form - Issue ID: <%= issue["issue_id"] %></h1>
        <fieldset>
            <legend><span class="number">1</span>Describe the issue</legend>
            <label for="title">Title:</label>
            <input type="text" id="title" name="issue_title" value="<%= issue["issue_name"] %>">
            <label for="description">Description:</label>
            <textarea id="description" name="issue_description"><%= issue["issue_description"] %></textarea>
            <label>Priority:</label>
            <input type="radio" id="low" value="low" name="issue_priority"><label for="low" class="light">Low</label><br/>
            <input type="radio" id="medium" value="medium" name="issue_priority"><label for="medium" class="light">Medium</label><br/>
            <input type="radio" id="high" value="high" name="issue_priority"><label for="high" class="light">High</label><br/>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Additional information</legend>
            <label for="status">Status:</label>
            <select id="status" name="issue_status" value="<%= issue["issue_status"] %>">
                <option value="new">New</option>
                <option value="in-progress">In Progress</option>
                <option value="closed">Closed</option>
            </select>
            <label for="id">Provide the Project ID to link the issue:</label>
            <input type="number" id="id" name="project_id" value="<%= issue["project_id"] %>">
            <label for="submitter">Submitted by:</label>
            <input type="text" id="submitter" name="submitted_by" value="<%= issue["submitted_by"] %>">
        </fieldset>
        <button type="submit" class="issueform-submitbtn">Submit</button>
    </form>
</div>