<div class="project-form">
    <form action="/projects/<%= project["project_id"] %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <h1 class="form-heading">Edit form - Project ID: <%= project["project_id"] %></h1>
        <fieldset>
            <legend><span class="number">1</span>Describe the project</legend>
            <label for="title">Project Name</label>
            <input type="text" id="title" name="project_title" value="<%= project["project_name"] %>">
            <label for="description">Description:</label>
            <textarea id="description" name="project_description"><%= project["project_description"] %></textarea>
            <label>Priority:</label>
            <input type="radio" id="low" value="low" name="project_priority"><label for="low" class="light">Low</label><br/>
            <input type="radio" id="medium" value="medium" name="project_priority"><label for="medium" class="light">Medium</label><br/>
            <input type="radio" id="high" value="high" name="project_priority"><label for="high" class="light">High</label><br/>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Additional information</legend>
            <label for="status">Status:</label>
            <select id="status" name="project_status">
                
                <% if project["project_status"] == "new" %>
                    <option value="new">New</option>
                    <option value="in-progress">In Progress</option>
                    <option value="closed">Closed</option>
                <% elsif project["project_status"] == "in-progress" %>
                    <option value="in-progress">In Progress</option>
                    <option value="new">New</option>
                    <option value="closed">Closed</option>
                <% else %>
                    <option value="closed">Closed</option>
                    <option value="in-progress">In Progress</option>
                    <option value="new">New</option>
                <% end %>

            </select>
            <label for="id">Project Owner:</label>
            <input type="text" id="id" name="project_owner" value="<%= project["project_owner"] %>">
            <label for="submitter">Submitted by:</label>
            <input type="text" id="submitter" name="submitted_by" value="<%= project["submitted_by"] %>">
        </fieldset>
        <button type="submit" class="issueform-submitbtn">Submit</button>
    </form>
</div>