<div class="dashboard">
    <div class="projects-container">
        <h3 class="dashboard-summary">Total Projects: <%= all_projects.count %></h3>
        
        <div class="dashboard-grid">
            <h5 class="dashboard-summary">NEW: <%= new_projects.count %></h5>            
            <h5 class="dashboard-summary">IN PROGRESS: <%= inprogress_projects.count %> </h5>
            <h5 class="dashboard-summary">CLOSED: <%= closed_projects.count %></h5>
        </div>

        <div class="dashboard-grid">
            <div class="list-container">
                <div class="list-contents">
                    <% new_projects.each do |project| %>                    
                        <% new_issue_counter = 0 %>
                        <% inprogress_issue_counter = 0 %>
                        <% closed_issue_counter = 0 %>
                        <% new_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% new_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <% inprogress_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% inprogress_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <% closed_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% closed_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <div class="list-contents-innerbox">
                            <a href="/projects/<%= project["project_id"] %>"><h5 class="fa fa-arrow-circle-right"> <b><%= project["project_name"] %></b></h5></a>
                            <p> <b>Project Owner:</b> <%= project["project_owner"] %></b> </p> 
                            <p> <b>Created:</b> <%= project["date_created"] %></b> </p>
                            <p> <b>New issues:</b> <%= new_issue_counter %> </p>
                            <p> <b>In progress issues:</b> <%= inprogress_issue_counter %> </p>
                            <p> <b>Closed issues:</b> <%= closed_issue_counter %> </p>                                
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="list-container">
                <div class="list-contents">
                    <% inprogress_projects.each do |project| %>                    
                        <% new_issue_counter = 0 %>
                        <% inprogress_issue_counter = 0 %>
                        <% closed_issue_counter = 0 %>
                        <% new_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% new_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <% inprogress_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% inprogress_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <% closed_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% closed_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <div class="list-contents-innerbox">
                            <a href="/projects/<%= project["project_id"] %>"><h5 class="fa fa-arrow-circle-right"> <b><%= project["project_name"] %></b></h5></a>
                            <p> <b>Project Owner:</b> <%= project["project_owner"] %> </p> 
                            <p> <b>Created:</b> <%= project["date_created"] %> </p>
                            <p> <b>New issues:</b> <%= new_issue_counter %> </p>
                            <p> <b>In progress issues:</b> <%= inprogress_issue_counter %> </p>
                            <p> <b>Closed issues:</b> <%= closed_issue_counter %> </p>                                
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="list-container">
                <div class="list-contents">
                    <% closed_projects.each do |project| %>                    
                        <% new_issue_counter = 0 %>
                        <% inprogress_issue_counter = 0 %>
                        <% closed_issue_counter = 0 %>
                        <% new_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% new_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <% inprogress_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% inprogress_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <% closed_issues.each do |issue| %>   
                            <% if issue["project_id"] == project["project_id"] %>
                                <% closed_issue_counter+=1 %>
                            <% end %>     
                        <% end %> 
                        <div class="list-contents-innerbox">
                            <a href="/projects/<%= project["project_id"] %>"><h5 class="fa fa-arrow-circle-right"> <b><%= project["project_name"] %></b></h5></a>
                            <p> <b>Project Owner:</b> <%= project["project_owner"] %> </p> 
                            <p> <b>Created:</b> <%= project["date_created"] %> </p>
                            <p> <b>New issues:</b> <%= new_issue_counter %> </p>
                            <p> <b>In progress issues:</b> <%= inprogress_issue_counter %> </p>
                            <p> <b>Closed issues:</b> <%= closed_issue_counter %> </p>                                
                        </div>
                    <% end %>
                </div>
            </div>    
        </div>            
    </div> 
</div>

