<%# New dashboard design %>

<div class="dashboard">
    <div>
        <h2>Projects: <%= all_projects.count %></h2>
        
        <div class="dashboard-grid">
            <h3>New: <%= new_projects.count %></h3>            
            <h3>In progress: <%= inprogress_projects.count %> </h3>
            <h3>Closed: <%= closed_projects.count %></h3>
        </div>

        <div class="dashboard-grid">
            <div class="list-container">
                <div class="list-contents">
                    <% new_projects.each do |project| %>                    
                        <h5> <%= project["project_name"] %></h5>
                        <p> <%= project["project_owner"] %></p> 
                        <p> <%= project["created"] %></p>                                
                    <% end %>
                </div>
            </div>
            <div class="list-container">
                <div class="list-contents">
                    <% inprogress_projects.each do |project| %>                    
                        <h5> <%= project["project_name"] %></h5>
                        <p> <%= project["project_owner"] %></p> 
                        <p> <%= project["created"] %></p>                                
                    <% end %>
                </div>
            </div>
            <div class="list-container">
                <div class="list-contents">
                    <% closed_projects.each do |project| %>                    
                        <h5> <%= project["project_name"] %></h5>
                        <p> <%= project["project_owner"] %></p> 
                        <p> <%= project["created"] %></p>                                
                    <% end %>
                </div>
            </div>            
        </div>
        
    </div>
    <div>
        <h2>Issues: <%= all_issues.count %></h2>
        <div class="dashboard-grid">
            <h3>New: <%= new_issues.count %></h3>            
            <h3>In progress: <%= inprogress_issues.count %> </h3>
            <h3>Closed: <%= closed_issues.count %></h3>
        </div>
        <div class="dashboard-grid">
            <div class="list-container">
                <div class="list-contents">
                    <% new_issues.each do |issue| %>                    
                        <h5> <%= issue["issue_name"] %></h5>
                        <p> <%= issue["submitted_by"] %></p> 
                        <p> <%= issue["created"] %></p>                                
                    <% end %>
                </div>
            </div>
            <div class="list-container">
                <div class="list-contents">
                    <% inprogress_issues.each do |issue| %>                    
                        <h5> <%= issue["issue_name"] %></h5>
                        <p> <%= issue["submitted_by"] %></p> 
                        <p> <%= issue["created"] %></p>                                
                    <% end %>
                </div>
            </div>
            <div class="list-container">
                <div class="list-contents">
                    <% closed_issues.each do |issue| %>                    
                        <h5> <%= issue["issue_name"] %></h5>
                        <p> <%= issue["submitted_by"] %></p> 
                        <p> <%= issue["created"] %></p>                                
                    <% end %>
                </div>
            </div>            
        </div>
    </div>
</div>

